

body {
    font-family: Arial, sans-serif;
    text-align: left;
    margin: 20px;
}

header {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
    font-size: 30px; 
    font-weight: bold; 
    color: #333; 
}

h1 {
    color: #333;
    font-size: 28px; 
    font-weight: bold;
}

h2 {
    color: #333;
    font-size: 28px; 
    font-weight: bold;
}
h3 {
    color: #333;
    font-size: 15px; 
    font-weight: bold;
    text-align: left;
}

p {
    color: #333;
    font-size: 20px; 
    font-weight: bold;
    text-align: left;
}

label {
    color: #333;
    font-size: 15px; 
    font-weight: bold;
    text-align: left;
}

input {
    padding: 5px;
    margin: 5px;
}

button {
    padding: 10px 20px;
    margin: 5px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
select {
    color: #504d4d;
    font-size: 15px; 
    font-weight: bold;
    background-color: #e9ebec;
}

#hasilPerhitungan {
    font-weight: bold;
    margin-top: 30px;
    color: #504d4d;
}
#hasilPerhitunganVolume {
    font-weight: bold;
    margin-top: 30px;
    color: #504d4d;
}

#hasilPerhitunganVolumeBalok {
    font-weight: bold;
    margin-top: 30px;
    color: #504d4d;
}

footer {
    font-family: serif;
    text-align: center;
    margin: 20px;
    font-size: 24px; 
    font-weight: bold; 
    color: #333; 
    
}
